h3 {
  font-size: 25px;
  font-weight: normal;
  color: rgb(44, 49, 93);
}
.search {
  display: block;
  margin: 0 auto;
  top: 10px;
  right: 0px;
}
.text-center {
  display: block;
  margin: 0 auto;
}
.card-body {
  position: relative;
  padding-top: 5px;
  width: 100%;
}
.icon {
  font-size: 50px;
  color: rgb(44, 49, 93);
}
.today {
  font-size: 90px;
  position: relative;
  top: -180px;
  right: -300px;
}
.today-temp {
  font-size: 30px;
  position: relative;
  top: -90px;
  right: -160px;
}
.temp-cold {
  font-size: 30px;
  font-weight: 300;
  position: relative;
  top: -90px;
  right: -160px;
}
#search {
  position: absolute;
  top: 20px;
  right: 0;
}
.curr-loc {
  font-size: 10px;
  font-weight: bolder;
}
.col-10 {
  position: relative;
  top: 70px;
}
.row-cols-6 {
  padding: 10px;
  background: rgb(237, 238, 245);
  border-radius: 10px;
}
footer {
  font-size: smaller;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: -2px;
  right: 5px;
}
